openapi: 3.2.0
info:
  version: '2.0'
  title: V2 business unit API
  description: The Arkestro API is used to manage aspects of your Arkestro instance without needing to have a user session.
servers:
- url: https://api.arkestro.com
security:
- ApiKeyAuth: []
tags:
- name: Business Unit
paths:
  /api/v2/business_units:
    get:
      summary: list business units
      description: List all of the business units under an organization
      tags:
      - Business Unit
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_units:
                    type: array
                    items:
                      type: object
                      description: Business units of a  company
                      required:
                      - id
                      - name
                      - unique_name
                      properties:
                        id:
                          type: integer
                          description: The Arkestro ID of the business unit
                        name:
                          type: string
                          description: The name of the business unit
                        unique_name:
                          type: string
                          description: The internal unique name representing a business unit in the ERP
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: The number of records requested.
                      offset:
                        type: integer
                        description: The number of records skipped after filtering and sorting.
                      total:
                        type: integer
                        description: The total number of records available after filtering.
                      returned_count:
                        type: integer
                        description: The number of records returned in the current response.
                additionalProperties: false
              example:
                business_units:
                - id: 1
                  name: default
                  unique_name: unique
                - id: 2
                  name: subunit
                  unique_name: sub
                pagination:
                  limit: 2
                  offset: 10
                  total: 122
                  returned_count: 2
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
      operationId: getApiV2BusinessUnits
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Token
