openapi: 3.1.1
info:
  version: '2.0'
  title: API V2
  description: 'The Arkestro API is used to manage aspects of your Arkestro instance without needing to have a user session.

    Our current API offering features endpoints that allow the creation and execution of an event.


    To get started, please generate an API Token.

    To generate an API Token your user must be an admin and you must request the feature be made available.

    Once enabled, you can go to your User Settings -> Personal Access Tokens and generate a new API token.  This API token
    will be used in your request

    header as an X-Token.


    Once you have an API Token you can make your first request.  A good starting point would be to request one of the index
    endpoints, such as:

    curl --location --request GET ''https://api.arkestro.com/api/v2/events'' --header ''Accept: application/json'' --header
    ''X-Token: <YOUR API TOKEN>'''
servers:
- url: https://api.arkestro.com
security:
- ApiKeyAuth: []
tags:
- name: adoption reporting
  description: User adoption and engagement metrics
- name: awards
- name: business unit
- name: corporate categories
  description: Categories represent item or service groupings used in various reports and programs
- name: corporate items
  description: Items represent goods or services under agreement in Arkestro.
- name: corporate purchase orders
  description: Purchase Orders for an organization
- name: document submissions
  description: Vendor document submissions for an event
- name: event analytics
- name: event documents
  description: Documents attached to an event for supplier review or submission
- name: events
- name: quote submissions
  description: Quote submissions from suppliers on events
- name: schedules
- name: supplier contacts
  description: Contacts represent an individual at a supplier organization
- name: supplier organizations
  description: Supplier organizations represent external companies that supply goods or services
- name: Webhooks
  x-traitTag: true
  description: "# Verifying webhook signatures\n\nArkestro signs **every** outbound webhook with **HMAC-SHA256**. The instructions\n\
    below apply to all webhook events. Before you trust a delivery, verify the\nsignature so you can be sure the request came\
    \ from Arkestro and was not tampered\nwith in transit.\n\n## Headers\n\nEvery delivery includes these headers:\n\n| Header\
    \ | Description |\n| --- | --- |\n| `X-Arkestro-Signature` | One or more HMAC-SHA256 signatures of the request, each formatted\
    \ `sha256=<hex>` and joined by commas with no whitespace (e.g. `sha256=5d61...,sha256=9af2...`). Multiple values appear\
    \ during secret rotation — see below. |\n| `X-Arkestro-Timestamp` | The Unix timestamp (epoch **seconds**, as a string)\
    \ at which the request was signed, e.g. `1748290800`. This value is part of the signed payload. |\n| `X-Arkestro-Idempotency-Key`\
    \ | A UUID identifying the delivery **event**. It is generated once when the event fires and stays **constant across all\
    \ retry attempts** of that delivery, so you can use it to deduplicate retries on your end. Unlike `request_id` in the\
    \ body, which changes on every attempt, this value does not. It is **not** part of the signed payload. |\n\n## How the\
    \ signature is computed\n\nArkestro builds a **signed payload** by concatenating the timestamp, a literal\n`.`, and the\
    \ raw request body:\n\n```text\nsigned_payload = \"{X-Arkestro-Timestamp}.{raw_request_body}\"\n```\n\nIt then computes\
    \ `HMAC-SHA256(secret, signed_payload)` as a lowercase **hex**\ndigest and prefixes it with `sha256=`. Folding the timestamp\
    \ into the digest\nmeans a replayed request with a tampered timestamp will fail verification.\n\n## How to verify a delivery\n\
    \n1. Read the `X-Arkestro-Timestamp` and `X-Arkestro-Signature` headers.\n2. *(Recommended)* Reject the delivery if the\
    \ timestamp is outside a tolerance\n   window (e.g. ±5 minutes from now) to limit replay attacks.\n3. Rebuild the signed\
    \ payload as `\"{timestamp}.{raw_body}\"` using the **raw\n   request bytes** — not a re-serialized or pretty-printed\
    \ copy of the JSON.\n   Re-encoding the body will change the bytes and break verification.\n4. Compute `sha256=` + the\
    \ hex HMAC-SHA256 of the signed payload using your\n   signing secret.\n5. Split `X-Arkestro-Signature` on `,` and check,\
    \ using a **constant-time**\n   comparison, whether your computed value matches any of the provided values.\n   Accept\
    \ the delivery if at least one matches.\n\n## Secret rotation and multiple signatures\n\n`X-Arkestro-Signature` can contain\
    \ **more than one** `sha256=` value. Arkestro\nsigns each delivery with every secret that is currently active, including\
    \ a\nprevious secret that is still within its rotation grace period.\n\nThis lets you rotate secrets with zero missed\
    \ deliveries:\n\n- While both the old and new secret are active, Arkestro sends a signature for\n  each. A verifier holding\
    \ either secret will find a matching value.\n- Once you have switched to the new secret and the old one expires, only\
    \ the new\n  signature is sent.\n\nWhen verifying, always **split the header on commas and accept if any value\nmatches**\
    \ a digest computed with any secret you currently hold. Never assume a\nsingle signature.\n\n## Code examples\n\nEach\
    \ example reads the raw request body, rebuilds the signed payload, splits the\nsignature header on commas, and compares\
    \ each candidate against a locally\ncomputed digest using a constant-time comparison. `secrets` is the list of\nsigning\
    \ secrets you currently hold (one normally, two during a rotation).\n\n### Node.js\n\n```js\nconst crypto = require('crypto');\n\
    \n// rawBody must be the exact bytes received (e.g. a string or Buffer),\n// not JSON.parse'd and re-stringified.\nfunction\
    \ verifyWebhook(rawBody, headers, secrets, toleranceSec = 300) {\n  const timestamp = headers['x-arkestro-timestamp'];\n\
    \  const signatureHeader = headers['x-arkestro-signature'];\n  if (!timestamp || !signatureHeader) return false;\n\n \
    \ // Optional replay protection.\n  const age = Math.floor(Date.now() / 1000) - Number(timestamp);\n  if (!Number.isFinite(age)\
    \ || Math.abs(age) > toleranceSec) return false;\n\n  const signedPayload = `${timestamp}.${rawBody}`;\n  const provided\
    \ = signatureHeader.split(',');\n\n  return secrets.some((secret) => {\n    const expected =\n      'sha256=' +\n    \
    \  crypto.createHmac('sha256', secret).update(signedPayload, 'utf8').digest('hex');\n    const expectedBuf = Buffer.from(expected);\n\
    \n    return provided.some((candidate) => {\n      const candidateBuf = Buffer.from(candidate);\n      return (\n    \
    \    candidateBuf.length === expectedBuf.length &&\n        crypto.timingSafeEqual(candidateBuf, expectedBuf)\n      );\n\
    \    });\n  });\n}\n```\n\n### Python\n\n```python\nimport hashlib\nimport hmac\nimport time\n\n\ndef verify_webhook(raw_body:\
    \ bytes, headers, secrets, tolerance_sec: int = 300) -> bool:\n    timestamp = headers.get(\"X-Arkestro-Timestamp\")\n\
    \    signature_header = headers.get(\"X-Arkestro-Signature\")\n    if not timestamp or not signature_header:\n       \
    \ return False\n\n    # Optional replay protection. Fail closed on a malformed timestamp header.\n    try:\n        age\
    \ = abs(int(time.time()) - int(timestamp))\n    except (TypeError, ValueError):\n        return False\n    if age > tolerance_sec:\n\
    \        return False\n\n    # raw_body must be the exact bytes received.\n    signed_payload = f\"{timestamp}.\".encode()\
    \ + raw_body\n    provided = signature_header.split(\",\")\n\n    for secret in secrets:\n        digest = hmac.new(secret.encode(),\
    \ signed_payload, hashlib.sha256).hexdigest()\n        expected = f\"sha256={digest}\"\n        if any(hmac.compare_digest(expected,\
    \ candidate) for candidate in provided):\n            return True\n    return False\n```\n\n### Ruby\n\n```ruby\nrequire\
    \ \"openssl\"\nrequire \"active_support/security_utils\"\n\n# raw_body must be the exact request body string received\
    \ (e.g. request.raw_post).\ndef verify_webhook(raw_body, headers, secrets, tolerance_sec: 300)\n  timestamp = headers[\"\
    X-Arkestro-Timestamp\"]\n  signature_header = headers[\"X-Arkestro-Signature\"]\n  return false if timestamp.nil? || signature_header.nil?\n\
    \n  # Optional replay protection.\n  return false if (Time.now.to_i - timestamp.to_i).abs > tolerance_sec\n\n  signed_payload\
    \ = \"#{timestamp}.#{raw_body}\"\n  provided = signature_header.split(\",\")\n\n  secrets.any? do |secret|\n    digest\
    \ = OpenSSL::HMAC.hexdigest(\"sha256\", secret, signed_payload)\n    expected = \"sha256=#{digest}\"\n    provided.any?\
    \ { |candidate| ActiveSupport::SecurityUtils.secure_compare(expected, candidate) }\n  end\nend\n```\n\n# Responding to\
    \ a delivery\n\nYour endpoint's HTTP response tells Arkestro whether the delivery succeeded.\n\n- **Acknowledge with a\
    \ `2xx` status code.** Any `2xx` (e.g. `200`, `201`, `202`,\n  `204`) is treated identically as success. The response\
    \ body is ignored.\n- **Respond promptly.** Arkestro waits up to **10 seconds** for a response. Do any\n  slow processing\
    \ asynchronously (enqueue it and return `2xx` right away) so you\n  don't exceed the timeout.\n- **Anything else is a\
    \ failed delivery.** A non-`2xx` status code, a timeout, or a\n  connection error is treated as a failure. Whether Arkestro\
    \ retries depends on the\n  status code — see the retry schedule below. In particular, `4xx` errors (except\n  `429`)\
    \ are treated as permanent failures and will **not** be retried.\n\n## Retry schedule\n\nArkestro retries failed deliveries\
    \ automatically. The retry behavior depends on the\nfailure type.\n\n**What gets retried:** `429`, `5xx`, transport errors\
    \ (timeouts, connection failures).\n\n**What is not retried (delivery is discarded):** `4xx` (except `429`).\n\nArkestro\
    \ makes up to **10 retry attempts** using exponential backoff. If all\nattempts are exhausted without a `2xx` response,\
    \ the delivery is permanently\nabandoned. The final retry occurs approximately **4–5 hours** after the initial\nattempt.\n"
paths:
  /api/v2/business_units:
    get:
      summary: list business units
      description: List all of the business units under an organization
      tags:
      - business unit
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_units:
                    type: array
                    items:
                      type: object
                      description: Business units of a  company
                      required:
                      - id
                      - name
                      - unique_name
                      properties:
                        id:
                          type: integer
                          description: The Arkestro ID of the business unit
                        name:
                          type: string
                          description: The name of the business unit
                        unique_name:
                          type: string
                          description: The internal unique name representing a business unit in the ERP
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: The number of records requested.
                      offset:
                        type: integer
                        description: The number of records skipped after filtering and sorting.
                      total:
                        type: integer
                        description: The total number of records available after filtering.
                      returned_count:
                        type: integer
                        description: The number of records returned in the current response.
                additionalProperties: false
              example:
                business_units:
                - id: 1
                  name: default
                  unique_name: unique
                - id: 2
                  name: subunit
                  unique_name: sub
                pagination:
                  limit: 2
                  offset: 10
                  total: 122
                  returned_count: 2
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/corporate/categories:
    get:
      summary: list categories
      description: List all of the Categories under an organization
      tags:
      - corporate categories
      parameters:
      - name: sort_by
        in: query
        description: The field to sort results by. Defaults to `created_at`.
        required: false
        schema:
          type: string
          default: created_at
          enum:
          - created_at
          - updated_at
      - name: sort_order
        in: query
        description: The sorting order (`asc` for ascending, `desc` for descending). Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: limit
        in: query
        description: The maximum number of results to return. Defaults to `20`, max `200`.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      - name: offset
        in: query
        description: The number of results to skip before starting to collect the result set. Defaults to `0`.
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      description: Categories represent item or service groupings used in various reports and programs
                      required:
                      - id
                      - code
                      - description
                      - name
                      properties:
                        id:
                          type: integer
                          description: The Arkestro ID of the category
                        code:
                          type: string
                          description: The external id of the category
                        description:
                          type:
                          - string
                          - 'null'
                          description: The description of the category
                        name:
                          type:
                          - string
                          - 'null'
                          description: The name of the category
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: The number of records requested.
                      offset:
                        type: integer
                        description: The number of records skipped after filtering and sorting.
                      total:
                        type: integer
                        description: The total number of records available after filtering.
                      returned_count:
                        type: integer
                        description: The number of records returned in the current response.
                additionalProperties: false
              example:
                categories:
                - id: 1
                  code: category-code-1
                  name: Electronics
                  description: Electronic items and accessories
                - id: 2
                  code: category-code-2
                  name: Office Supplies
                  description: Office Supplies & Stationary
                pagination:
                  limit: 2
                  offset: 10
                  total: 122
                  returned_count: 2
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    post:
      summary: create category
      description: Create a new category
      tags:
      - corporate categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  required:
                  - code
                  properties:
                    code:
                      type: string
                      description: The external id of the category
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the category
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the category
                  additionalProperties: false
              additionalProperties: false
            example:
              category:
                code: office-supplies
                name: Office Supplies
                description: Supplies used for daily office operations
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    description: Categories represent item or service groupings used in various reports and programs
                    required:
                    - id
                    - code
                    - description
                    - name
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the category
                      code:
                        type: string
                        description: The external id of the category
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the category
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the category
                    additionalProperties: false
                additionalProperties: false
              example:
                category:
                  id: 1
                  code: office-supplies
                  name: Office Supplies
                  description: Supplies used for daily office operations
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/corporate/categories/{id}:
    get:
      summary: show category
      description: Get a category by id
      tags:
      - corporate categories
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    description: Categories represent item or service groupings used in various reports and programs
                    required:
                    - id
                    - code
                    - description
                    - name
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the category
                      code:
                        type: string
                        description: The external id of the category
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the category
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the category
                    additionalProperties: false
                additionalProperties: false
              example:
                category:
                  id: 1
                  code: office-supplies
                  name: Office Supplies
                  description: Supplies used for daily office operations
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    patch:
      summary: update category
      description: Update a category by id
      tags:
      - corporate categories
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  properties:
                    code:
                      type: string
                      description: The external id of the category
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the category
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the category
                  additionalProperties: false
              additionalProperties: false
            example:
              category:
                id: 1
                code: updated-office-supplies
                name: Updated Office Supplies Name
                description: Updated Supplies Description
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    description: Categories represent item or service groupings used in various reports and programs
                    required:
                    - id
                    - code
                    - description
                    - name
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the category
                      code:
                        type: string
                        description: The external id of the category
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the category
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the category
                    additionalProperties: false
                additionalProperties: false
              example:
                category:
                  id: 1
                  code: updated-office-supplies
                  name: Updated Office Supplies Name
                  description: Updated Supplies Description
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    delete:
      summary: delete category
      description: Delete a category by id
      tags:
      - corporate categories
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/corporate/items:
    get:
      summary: list items
      description: List all of the Items under an organization
      tags:
      - corporate items
      parameters:
      - name: sort_by
        in: query
        description: The field to sort results by. Defaults to `created_at`.
        required: false
        schema:
          type: string
          default: created_at
          enum:
          - created_at
          - updated_at
      - name: sort_order
        in: query
        description: The sorting order (`asc` for ascending, `desc` for descending). Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: limit
        in: query
        description: The maximum number of results to return. Defaults to `20`, max `200`.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      - name: offset
        in: query
        description: The number of results to skip before starting to collect the result set. Defaults to `0`.
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - description
                      - sku
                      properties:
                        id:
                          type: integer
                          description: The Arkestro ID of the item
                        sku:
                          type: string
                          description: The external id of the item
                        description:
                          type:
                          - string
                          - 'null'
                          description: The description of the item
                        name:
                          type:
                          - string
                          - 'null'
                          description: The name of the item
                        category:
                          type:
                          - object
                          - 'null'
                          description: Category object, referenced by code (optional)
                          required:
                          - id
                          - code
                          - description
                          - name
                          properties:
                            id:
                              type: integer
                              description: The Arkestro ID of the category
                            code:
                              type: string
                              description: The Unique ID of the category
                            description:
                              type:
                              - string
                              - 'null'
                              description: The description of the category
                            name:
                              type:
                              - string
                              - 'null'
                              description: The name of the category
                          additionalProperties: false
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: The number of records requested.
                      offset:
                        type: integer
                        description: The number of records skipped after filtering and sorting.
                      total:
                        type: integer
                        description: The total number of records available after filtering.
                      returned_count:
                        type: integer
                        description: The number of records returned in the current response.
                additionalProperties: false
              example:
                items:
                - id: 1
                  sku: paper-500
                  name: Premium A4 Paper
                  description: High-quality A4 paper for professional printing
                  category:
                    id: 101
                    code: office-supplies
                    name: Office Supplies
                    description: Supplies used for daily office operations
                - id: 2
                  sku: pens-blue-50
                  name: Blue Ballpoint Pens
                  description: Durable ballpoint pens with smooth ink flow
                  category:
                    id: 102
                    code: stationery
                    name: Stationery
                    description: Essential writing tools and office accessories
                pagination:
                  limit: 20
                  offset: 10
                  total: 122
                  returned_count: 20
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    post:
      summary: create item
      description: Create a new item
      tags:
      - corporate items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item:
                  type: object
                  required:
                  - sku
                  properties:
                    name:
                      type: string
                      description: The name of the item
                    description:
                      type: string
                      description: The description of the item
                    sku:
                      type: string
                      description: The external id of the item
                    category:
                      type: object
                      properties:
                        code:
                          type: string
                          description: The category code of the item
                        name:
                          type: string
                          description: The name of the category of the item
                        description:
                          type: string
                          description: The description of the category of the item
                      additionalProperties: false
                  additionalProperties: false
              additionalProperties: false
            example:
              item:
                sku: paper-500
                name: Premium A4 Paper
                description: High-quality A4 paper for professional printing
                category:
                  code: office-supplies
                  name: Office Supplies
                  description: Supplies used for daily office operations
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: object
                    required:
                    - id
                    - name
                    - description
                    - sku
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the item
                      sku:
                        type: string
                        description: The external id of the item
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the item
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the item
                      category:
                        type:
                        - object
                        - 'null'
                        description: Category object, referenced by code (optional)
                        required:
                        - id
                        - code
                        - description
                        - name
                        properties:
                          id:
                            type: integer
                            description: The Arkestro ID of the category
                          code:
                            type: string
                            description: The Unique ID of the category
                          description:
                            type:
                            - string
                            - 'null'
                            description: The description of the category
                          name:
                            type:
                            - string
                            - 'null'
                            description: The name of the category
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              example:
                item:
                  id: 1
                  sku: paper-500
                  name: Premium A4 Paper
                  description: High-quality A4 paper for professional printing
                  category:
                    id: 101
                    code: office-supplies
                    name: Office Supplies
                    description: Supplies used for daily office operations
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/corporate/items/{id}:
    get:
      summary: show item
      description: Get an item by id
      tags:
      - corporate items
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: object
                    required:
                    - id
                    - name
                    - description
                    - sku
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the item
                      sku:
                        type: string
                        description: The external id of the item
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the item
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the item
                      category:
                        type:
                        - object
                        - 'null'
                        description: Category object, referenced by code (optional)
                        required:
                        - id
                        - code
                        - description
                        - name
                        properties:
                          id:
                            type: integer
                            description: The Arkestro ID of the category
                          code:
                            type: string
                            description: The Unique ID of the category
                          description:
                            type:
                            - string
                            - 'null'
                            description: The description of the category
                          name:
                            type:
                            - string
                            - 'null'
                            description: The name of the category
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              example:
                item:
                  id: 1
                  sku: paper-500
                  name: Premium A4 Paper
                  description: High-quality A4 paper for professional printing
                  category:
                    id: 101
                    code: office-supplies
                    name: Office Supplies
                    description: Supplies used for daily office operations
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    patch:
      summary: update item
      description: Update an item by id
      tags:
      - corporate items
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the item
                    description:
                      type: string
                      description: The description of the item
                    sku:
                      type: string
                      description: The external id of the item
                    category:
                      type: object
                      properties:
                        code:
                          type: string
                          description: The category code of the item
                        name:
                          type: string
                          description: The name of the category of the item
                        description:
                          type: string
                          description: The description of the category of the item
                      additionalProperties: false
                  additionalProperties: false
              additionalProperties: false
            example:
              item:
                sku: updated-paper-500
                name: Updated Paper Name
                description: Updated Paper Description
                category:
                  code: updated-office-supplies
                  name: Updated Office Supplies Name
                  description: Updated Supplies Description
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    type: object
                    required:
                    - id
                    - name
                    - description
                    - sku
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the item
                      sku:
                        type: string
                        description: The external id of the item
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the item
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the item
                      category:
                        type:
                        - object
                        - 'null'
                        description: Category object, referenced by code (optional)
                        required:
                        - id
                        - code
                        - description
                        - name
                        properties:
                          id:
                            type: integer
                            description: The Arkestro ID of the category
                          code:
                            type: string
                            description: The Unique ID of the category
                          description:
                            type:
                            - string
                            - 'null'
                            description: The description of the category
                          name:
                            type:
                            - string
                            - 'null'
                            description: The name of the category
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              example:
                item:
                  id: 1
                  sku: updated-paper-500
                  name: Updated Paper Name
                  description: Updated Paper Description
                  category:
                    id: 101
                    code: updated-office-supplies
                    name: Updated Office Supplies Name
                    description: Updated Supplies Description
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    delete:
      summary: delete item
      description: Delete an item by id
      tags:
      - corporate items
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The resource was deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/supplier_contacts:
    get:
      summary: list contacts
      description: List all of the supplier contacts under an organization
      tags:
      - supplier contacts
      parameters:
      - name: external_id
        in: query
        description: 'One or more `external_id` values to filter by. To pass multiple values, use repeated query params: `?external_id[]=EXT-001&external_id[]=EXT-002`.

          '
        required: false
        schema:
          type: string
      - name: sort_by
        in: query
        description: The field to sort results by. Defaults to `created_at`.
        required: false
        schema:
          type: string
          default: created_at
          enum:
          - created_at
          - updated_at
      - name: sort_order
        in: query
        description: The sorting order (`asc` for ascending, `desc` for descending). Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: limit
        in: query
        description: The maximum number of results to return. Defaults to `20`, max `200`.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      - name: offset
        in: query
        description: The number of results to skip before starting to collect the result set. Defaults to `0`.
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  supplier_contacts:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - first_name
                      - last_name
                      - phone
                      - email
                      - title
                      - status
                      - external_id
                      - supplier_organization
                      properties:
                        id:
                          type: integer
                          description: The Arkestro ID of the contact
                        first_name:
                          type:
                          - string
                          - 'null'
                          description: First Name of the contact
                        last_name:
                          type:
                          - string
                          - 'null'
                          description: Last Name of the contact
                        phone:
                          type:
                          - string
                          - 'null'
                          description: Phone Number of the contact
                        email:
                          type:
                          - string
                          - 'null'
                          description: Email Address of the contact
                        title:
                          type:
                          - string
                          - 'null'
                          description: Professional Title of contact
                        status:
                          type:
                          - string
                          - 'null'
                          description: Entity Status of contact
                          enum:
                          - pending
                          - approved
                          - rejected
                          - preferred
                          - exists
                        external_id:
                          type:
                          - string
                          - 'null'
                          description: ID of the contact in an external system
                        supplier_organization:
                          type:
                          - object
                          - 'null'
                          required:
                          - id
                          - name
                          - external_id
                          - status
                          - firm
                          - address
                          properties:
                            id:
                              type: integer
                              description: The Arkestro ID of the supplier organization
                            name:
                              type: string
                              description: The name of the supplier organization
                            external_id:
                              type:
                              - string
                              - 'null'
                              description: The External ID of the supplier organization
                            status:
                              type: string
                              description: Status of the supplier organization
                              enum:
                              - pending
                              - approved
                              - rejected
                              - preferred
                              - exists
                            firm:
                              type:
                              - object
                              - 'null'
                              required:
                              - domain
                              properties:
                                domain:
                                  type: string
                                  description: Domain of the firm
                            address:
                              type:
                              - object
                              - 'null'
                              description: Physical address of the supplier organization
                              required:
                              - line_one
                              - line_two
                              - city
                              - state
                              - country
                              - postal_code
                              properties:
                                line_one:
                                  type:
                                  - string
                                  - 'null'
                                  description: First line of the address
                                line_two:
                                  type:
                                  - string
                                  - 'null'
                                  description: Second line of the address
                                city:
                                  type:
                                  - string
                                  - 'null'
                                  description: City
                                state:
                                  type:
                                  - string
                                  - 'null'
                                  description: State or province
                                country:
                                  type:
                                  - string
                                  - 'null'
                                  description: Country
                                postal_code:
                                  type:
                                  - string
                                  - 'null'
                                  description: Postal or ZIP code
                          additionalProperties: false
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: The number of records requested.
                      offset:
                        type: integer
                        description: The number of records skipped after filtering and sorting.
                      total:
                        type: integer
                        description: The total number of records available after filtering.
                      returned_count:
                        type: integer
                        description: The number of records returned in the current response.
                additionalProperties: false
              examples:
                basic:
                  value:
                    supplier_contacts:
                    - id: 123
                      first_name: Sherry
                      last_name: Sedgwick
                      phone: 303-555-5678
                      email: sherry@example.com
                      title: Director of Procurement
                      status: pending
                      external_id: '123456789'
                      supplier_organization:
                        id: 4821
                        name: Sedgwick's Supplies
                        external_id: '987654321'
                        status: approved
                        firm:
                          domain: sedgwick-supplies.com
                        address:
                          line_one: 1234 1st St.
                          line_two: Suite 201
                          city: Denver
                          state: CO
                          country: USA
                          postal_code: '80123'
                    pagination:
                      limit: 1
                      offset: 10
                      total: 122
                      returned_count: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    post:
      summary: create supplier contact
      description: Create a new supplier contact
      tags:
      - supplier contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - supplier_contact
              properties:
                supplier_contact:
                  type: object
                  required:
                  - email
                  - supplier_organization
                  properties:
                    email:
                      type: string
                      format: email
                      description: Email address of the contact
                    first_name:
                      type: string
                      description: First name of the contact
                    last_name:
                      type: string
                      description: Last name of the contact
                    phone:
                      type: string
                      description: Phone number of the contact
                    title:
                      type: string
                      description: Job title of the contact
                    status:
                      type: string
                      description: Status of the contact
                      enum:
                      - pending
                      - approved
                      - rejected
                      - preferred
                      - exists
                    external_id:
                      type: string
                      description: External identifier for the contact
                    supplier_organization:
                      type: object
                      description: 'By ID: Assign the contact to an existing supplier organization by its Arkestro ID.


                        By Name (Deprecated): Will upsert a supplier organization with the provided fields and assign the
                        contact to it.

                        '
                      oneOf:
                      - title: By ID
                        required:
                        - id
                        properties:
                          id:
                            type: integer
                            description: Arkestro ID of an existing supplier organization
                        additionalProperties: false
                      - title: By Name
                        deprecated: true
                        required:
                        - name
                        properties:
                          name:
                            type: string
                            description: Name of the supplier organization
                          external_id:
                            type: string
                            description: External identifier for the supplier organization
                          firm:
                            type: object
                            properties:
                              url:
                                type: string
                                description: URL of the firm associated with the supplier organization
                          address:
                            type: object
                            description: Physical address of the supplier organization
                            properties:
                              line_one:
                                type: string
                                description: First line of the address
                              line_two:
                                type: string
                                description: Second line of the address
                              city:
                                type: string
                                description: City of the address
                              state:
                                type: string
                                description: State of the address
                              country:
                                type: string
                                description: Country of the address
                              postal_code:
                                type: string
                                description: Postal code of the address
                            additionalProperties: false
                        additionalProperties: false
                  additionalProperties: false
              additionalProperties: false
            examples:
              basic:
                value:
                  supplier_contact:
                    first_name: Sherry
                    last_name: Sedgwick
                    phone: 303-555-5678
                    email: sherry@example.com
                    title: Director of Procurement
                    status: pending
                    external_id: '123456789'
                    supplier_organization:
                      id: 4821
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  supplier_contact:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - phone
                    - email
                    - title
                    - status
                    - external_id
                    - supplier_organization
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the contact
                      first_name:
                        type:
                        - string
                        - 'null'
                        description: First Name of the contact
                      last_name:
                        type:
                        - string
                        - 'null'
                        description: Last Name of the contact
                      phone:
                        type:
                        - string
                        - 'null'
                        description: Phone Number of the contact
                      email:
                        type:
                        - string
                        - 'null'
                        description: Email Address of the contact
                      title:
                        type:
                        - string
                        - 'null'
                        description: Professional Title of contact
                      status:
                        type:
                        - string
                        - 'null'
                        description: Entity Status of contact
                        enum:
                        - pending
                        - approved
                        - rejected
                        - preferred
                        - exists
                      external_id:
                        type:
                        - string
                        - 'null'
                        description: ID of the contact in an external system
                      supplier_organization:
                        type:
                        - object
                        - 'null'
                        required:
                        - id
                        - name
                        - external_id
                        - status
                        - firm
                        - address
                        properties:
                          id:
                            type: integer
                            description: The Arkestro ID of the supplier organization
                          name:
                            type: string
                            description: The name of the supplier organization
                          external_id:
                            type:
                            - string
                            - 'null'
                            description: The External ID of the supplier organization
                          status:
                            type: string
                            description: Status of the supplier organization
                            enum:
                            - pending
                            - approved
                            - rejected
                            - preferred
                            - exists
                          firm:
                            type:
                            - object
                            - 'null'
                            required:
                            - domain
                            properties:
                              domain:
                                type: string
                                description: Domain of the firm
                          address:
                            type:
                            - object
                            - 'null'
                            description: Physical address of the supplier organization
                            required:
                            - line_one
                            - line_two
                            - city
                            - state
                            - country
                            - postal_code
                            properties:
                              line_one:
                                type:
                                - string
                                - 'null'
                                description: First line of the address
                              line_two:
                                type:
                                - string
                                - 'null'
                                description: Second line of the address
                              city:
                                type:
                                - string
                                - 'null'
                                description: City
                              state:
                                type:
                                - string
                                - 'null'
                                description: State or province
                              country:
                                type:
                                - string
                                - 'null'
                                description: Country
                              postal_code:
                                type:
                                - string
                                - 'null'
                                description: Postal or ZIP code
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              examples:
                basic:
                  value:
                    supplier_contact:
                      id: 123
                      first_name: Sherry
                      last_name: Sedgwick
                      phone: 303-555-5678
                      email: sherry@example.com
                      title: Director of Procurement
                      status: pending
                      external_id: '123456789'
                      supplier_organization:
                        id: 4821
                        name: Sedgwick's Supplies
                        external_id: '987654321'
                        status: approved
                        firm:
                          domain: sedgwick-supplies.com
                        address:
                          line_one: 1234 1st St.
                          line_two: Suite 201
                          city: Denver
                          state: CO
                          country: USA
                          postal_code: '80123'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
  /api/v2/supplier_contacts/{id}:
    get:
      summary: show contact
      description: Get a supplier contact by id
      tags:
      - supplier contacts
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  supplier_contact:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - phone
                    - email
                    - title
                    - status
                    - external_id
                    - supplier_organization
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the contact
                      first_name:
                        type:
                        - string
                        - 'null'
                        description: First Name of the contact
                      last_name:
                        type:
                        - string
                        - 'null'
                        description: Last Name of the contact
                      phone:
                        type:
                        - string
                        - 'null'
                        description: Phone Number of the contact
                      email:
                        type:
                        - string
                        - 'null'
                        description: Email Address of the contact
                      title:
                        type:
                        - string
                        - 'null'
                        description: Professional Title of contact
                      status:
                        type:
                        - string
                        - 'null'
                        description: Entity Status of contact
                        enum:
                        - pending
                        - approved
                        - rejected
                        - preferred
                        - exists
                      external_id:
                        type:
                        - string
                        - 'null'
                        description: ID of the contact in an external system
                      supplier_organization:
                        type:
                        - object
                        - 'null'
                        required:
                        - id
                        - name
                        - external_id
                        - status
                        - firm
                        - address
                        properties:
                          id:
                            type: integer
                            description: The Arkestro ID of the supplier organization
                          name:
                            type: string
                            description: The name of the supplier organization
                          external_id:
                            type:
                            - string
                            - 'null'
                            description: The External ID of the supplier organization
                          status:
                            type: string
                            description: Status of the supplier organization
                            enum:
                            - pending
                            - approved
                            - rejected
                            - preferred
                            - exists
                          firm:
                            type:
                            - object
                            - 'null'
                            required:
                            - domain
                            properties:
                              domain:
                                type: string
                                description: Domain of the firm
                          address:
                            type:
                            - object
                            - 'null'
                            description: Physical address of the supplier organization
                            required:
                            - line_one
                            - line_two
                            - city
                            - state
                            - country
                            - postal_code
                            properties:
                              line_one:
                                type:
                                - string
                                - 'null'
                                description: First line of the address
                              line_two:
                                type:
                                - string
                                - 'null'
                                description: Second line of the address
                              city:
                                type:
                                - string
                                - 'null'
                                description: City
                              state:
                                type:
                                - string
                                - 'null'
                                description: State or province
                              country:
                                type:
                                - string
                                - 'null'
                                description: Country
                              postal_code:
                                type:
                                - string
                                - 'null'
                                description: Postal or ZIP code
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
              examples:
                basic:
                  value:
                    supplier_contact:
                      id: 123
                      first_name: Sherry
                      last_name: Sedgwick
                      phone: 303-555-5678
                      email: sherry@example.com
                      title: Director of Procurement
                      status: pending
                      external_id: '123456789'
                      supplier_organization:
                        id: 4821
                        name: Sedgwick's Supplies
                        external_id: '987654321'
                        status: approved
                        firm:
                          domain: sedgwick-supplies.com
                        address:
                          line_one: 1234 1st St.
                          line_two: Suite 201
                          city: Denver
                          state: CO
                          country: USA
                          postal_code: '80123'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                additionalProperties: false
                properties:
                  error:
                    type: string
                  message:
                    type: string
        '500':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                additionalProperties: false
                properties:
                  error:
                    type: string
    patch:
      summary: update supplier contact
      description: Update a supplier contact by id
      tags:
      - supplier contacts
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - supplier_contact
              properties:
                supplier_contact:
                  type: object
                  properties:
                    first_name:
                      type: string
                      description: First name of the contact
                    last_name:
                      type: string
                      description: Last name of the contact
                    phone:
                      type: string
                      description: Phone number of the contact
                    title:
                      type: string
                      description: Job title of the contact
                    external_id:
                      type: string
                      description: External identifier for the contact
                    supplier_organization:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Arkestro ID of the supplier organization to assign the contact to
                      additionalProperties: false
                  additionalProperties: false
              additionalProperties: false
            examples:
              basic:
                value:
                  supplier_contact:
                    first_name: John
                    last_name: Doe
                    phone: 555-777-9999
                    title: Director of Operations
                    external_id: '345'
                    supplier_organization:
                      id: 4821
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  supplier_contact:
                    type: object
                    required:
                    - id
                    - first_name
                    - last_name
                    - phone
                    - email
                    - title
                    - status
                    - external_id
                    - supplier_organization
                    properties:
                      id:
                        type: integer
                        description: The Arkestro ID of the contact
                      first_name:
                        type:
                        - string
                        - 'null'
                        description: First Name of the contact
                      last_name:
                        type:
                        - string
                        - 'null'
                        description: Last Name of the contact
                      phone:
                        type:
                        - string
                        - 'null'
                        description: Phone Number of the contact
                      email:
                        type:
                        - string
                        - 'null'
                        description: Email Address of the contact
                      title:
                        type:
                        - string
                        - 'null'
                        description: Professional Title of contact
                      status:
                        type:
                        - string
                        - 'null'
                        description: Entity Status of contact
                        enum:
                        - pending
                        - approved
                        - rejected
                        - preferred
                        - exists
                      external_id:
                        type:
                        - string
                        - 'null'
                        description: ID of the contact in an external system
                      supplier_organization:
                        type:
                        - object
                        - 'null'
                        required:
                        - id
                        - name
                        - external_id
                        - status
                        - firm
                        - address
                        properties:
                          id:
                            type: integer
[...]
